/* Custom CSS here */

body{
width: 100%;
font-family: 'Lato', sans-serif;
}
.pusher {
	top: 0px;
	position: fixed;
	max-hight: 50px;
}
.pusher > .push-content {
	position: relative;
}
.push-content > div {
	position: absolute;
	top: 0 ;
	left: 0 ;
	width: 100% ;
	height: 100%;
}
.main-page {
	position: relative;
}
.navbar-custom{
    background-color: #62488a;
    border-color: #62488a;
    margin-bottom: 0px;
}
header{
    background-color: #62488a;
    width: 100%;

}

tag {
	font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}
tag {
  padding: 2px 4px;
  font-size: 90%;
  color: #fff;
  background-color: #333;
  border-radius: 5px;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .25);
          box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .25);
}
tag tag {
  padding: 0;
  font-size: 100%;
  font-weight: bold;
  -webkit-box-shadow: none;
          box-shadow: none;
}


header{
    background-color: #62488a;
    width: 100%;
    margin: 0;
    padding: 40px 0 0 0;

}

h1{
    font-family: 'Raleway', sans-serif;
    font-size: 70px;
    text-align: center;
    color: #fff;
    font-weight: 600;
    margin: 22px 0;
}

h2{
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    text-align: center;
    color: #fff;
    font-weight: 300;
    margin: 22px 0;
}

h3{
    font-family: 'Raleway', sans-serif;
    font-size: 28px;
    font-weight: 600;
    text-align: center;
}

section{
    width: 100%;
    padding: 60px 0;
}

.center{
    margin: 0 auto;
    text-align: center;
    display: block;
}

.glyphicon {
    font-size: 30px;
    margin: 15px auto;
    display: block;
    /* width: 83px; */
}

.call-to-action{
  background-color: #13c4af;
}

img{
    margin: 0 auto;
    display: block;
}

footer{
    padding: 20px 0px;
}

@media screen and (max-width: 768px){
.conceal{
    display: none;
}
h1{
  font-size: 50px;
}
h2{
    text-align: left;
    font-family: 'Raleway', sans-serif;
    margin: 5px 0;
    font-size: 25px;
}
.glyphicon {
    font-size: 30px;
    margin: 5px auto;
    display: block;
    /* width: 83px; */
}
}
