<html>
<head>
	<title>Toilet Map</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"></meta>

	<!-- <style></style> -->
	<link rel="stylesheet" type="text/css" href="/css/toilet-map.css"></link>
  <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900|Raleway:400,300,500,600,700,800,900' rel='stylesheet' type='text/css'></link>
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"></link>
  <link rel="stylesheet" type="text/css" href="/css/custom.css"></link>

	<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDXi4_YuOOTq0x34AtyGsR8JtndXxAF5DY&;sensor=false"></script>

	<!-- <script type="text/javascript"></script> -->
	<script src="closure/library/closure/goog/base.js"></script><!--@base_js@-->
  	<script src="development/js_dev/deps.js"></script><!--@deps_js@-->
  	<script> goog.require('toilet-map-app'); </script><!--@require_main@-->
	
</head>
<body onload="plebeosaur.map()">
	<header>
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-sm-11">
					<h2>Toilet Concierge</h2>
				</div>
			</div>
		</div>
	</header>
	<div id="map_canvas"><!-- map goes here --></div>
</body>
</html>